 <footer>
    <div class="container"> 
    
        <div class="col-md-2">
          <h4>Điều Hướng</h4>
          <ul class="links-footer">
            <li><a href="/">Trang Chủ</a></li>
            <li><a href="/categories"> Ôn Luyện</a></li>
            <li><a href="/blogs"> Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
  
<div class="container">
<div class="rights">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright © 2017 <a href="#." class="ri-li"> UET Challenger </a></p>
        </div>
        <div class="col-sm-6 text-right"> <img src="./images/card-icon.png" alt=""> </div>
      </div>
    </div>
</div>
</div>
