<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from event-theme.com/themes/html/smarttech/LoginForm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Feb 2019 08:46:09 GMT -->
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="M_Adnan" />
<!-- Document Title -->
<title>Smart Tech - Ecommerce HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="../frontend/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../frontend/images/favicon.ico" type="image/x-icon">

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="../rs-plugin/css/settings.css" media="screen" />

<!-- StyleSheets -->
<link rel="stylesheet" href="../frontend/css/ionicons.min.css">
<link rel="stylesheet" href="../frontend/css/bootstrap.min.css">
<link rel="stylesheet" href="../frontend/css/font-awesome.min.css">
<link rel="stylesheet" href="../frontend/css/main.css">
<link rel="stylesheet" href="../frontend/css/style.css">
<link rel="stylesheet" href="../frontend/css/responsive.css">

<!-- Fonts Online -->
<link href="https://fonts.googleapis.com/css?family=Lato:100i,300,400,700,900" rel="stylesheet">



<!-- JavaScripts -->
<script src="../frontend/js/vendors/modernizr.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>


<!-- Page Wrapper -->

   {{>header}}
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Linking -->
    <div class="linking">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Authentication</li>
        </ol>
      </div>
    </div>
    
    <!-- Blog -->
    <section class="login-sec padding-top-30 padding-bottom-100">
      <div class="container">
         {{#if user}}
            <div class="well bg-primary">
                <h5 class="text text-danger">{{err}}</h5>
            </div>
        {{else}}
          {{#if err}}
              <div class="well bg-primary">
                <h5 class="text text-danger">{{err}}</h5>
              </div>
          {{/if}}
        <div class="row">       
          <!-- Don’t have an Account? Register now -->
          <div class="col-md-6">
            <h5>Chưa Có Tài Khoản, Hãy Đăng Ký Ngay</h5>
            
            <!-- FORM -->
            <form method="POST" action="/user/signup">
              <ul class="row">
                <li class="col-sm-12">
                  <label>Họ Và Tên
                    <input type="text" class="form-control" name="name" placeholder="">
                  </label>
                </li>
                <li class="col-sm-12">
                  <label>Tên Đăng Nhập
                    <input type="text" class="form-control" name="username" placeholder="">
                  </label>
                </li>
                <li class="col-sm-12">
                  <label>Email
                    <input type="text" class="form-control" name="email" placeholder="">
                  </label>
                </li>
                <li class="col-sm-12">
                  <label>Mật Khẩu
                    <input type="password" class="form-control" name="password" placeholder="">
                  </label>
                </li>
                <li class="col-sm-12">
                  <label>Xác Nhận Mật Khẩu
                    <input type="password" class="form-control" name="passwordconf" placeholder="">
                  </label>
                </li>
                <li class="col-sm-12 text-left">
                  <button type="submit" class="btn-round">Register</button>
                </li>
              </ul>
            </form>
          </div>
        </div>
        {{/if}}
      </div>
    </section>
    
    <!-- Clients img -->
    <section class="light-gry-bg clients-img">
      <div class="container">
        <ul>
          <li><img src="./images/c-img-1.png" alt="" ></li>
          <li><img src="./images/c-img-2.png" alt="" ></li>
          <li><img src="./images/c-img-3.png" alt="" ></li>
          <li><img src="./images/c-img-4.png" alt="" ></li>
          <li><img src="./images/c-img-5.png" alt="" ></li>
        </ul>
      </div>
    </section>
    

  </div>
  <!-- End Content --> 
  
  <!-- Footer -->
  {{>footer}}
  
  <!-- End Footer --> 
  
  <!-- GO TO TOP  --> 
  <a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a> 
  <!-- GO TO TOP End --> 
</div>
<!-- End Page Wrapper --> 

<!-- JavaScripts --> 
<script src="../frontend/js/vendors/jquery/jquery.min.js"></script> 
<script src="../frontend/js/vendors/wow.min.js"></script> 
<script src="../frontend/js/vendors/bootstrap.min.js"></script> 
<script src="../frontend/js/vendors/own-menu.js"></script> 
<script src="../frontend/js/vendors/jquery.sticky.js"></script> 
<script src="../frontend/js/vendors/owl.carousel.min.js"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="../frontend/rs-plugin/js/jquery.tp.t.min.js"></script> 
<script type="text/javascript" src="../frontend/rs-plugin/js/jquery.tp.min.js"></script> 
<script src="../frontend/js/main.js"></script> 
<script src="../frontend/js/vendors/jquery.nouislider.min.js"></script> 
<script>
jQuery(document).ready(function($) {
  
  //  Price Filter ( noUiSlider Plugin)
    $("#price-range").noUiSlider({
    range: {
      'min': [ 0 ],
      'max': [ 1000 ]
    },
    start: [40, 940],
        connect:true,
        serialization:{
            lower: [
        $.Link({
          target: $("#price-min")
        })
      ],
      upper: [
        $.Link({
          target: $("#price-max")
        })
      ],
      format: {
      // Set formatting
        decimals: 2,
        prefix: '$'
      }
        }
  })
})

</script>
</body>

<!-- Mirrored from event-theme.com/themes/html/smarttech/LoginForm.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Feb 2019 08:46:09 GMT -->
</html>